.adminmodule-div {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: 1px solid #f4991a;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #33313b4d;
    opacity: 1;
    margin: 30px 50px 0px 50px;
    height: 100%;
}

.adminmodule-list-div {
    background: #e1e1e1 0% 0% no-repeat padding-box;

    opacity: 1;
    margin: 30px 50px 0px 50px;
    height: 440px;
}
ul {
    list-style-type: none;
}
.form-adminmodule-head {
    margin-bottom: 10px;
    margin-top: 110px;
    margin-left: 0%;
    margin-right: auto;
    font: normal normal bold 16px/19px "Roboto";
    letter-spacing: 0px;
    color: #33313b;
    opacity: 1;
}
.form-adminmodule-label {
    margin-bottom: 10px;
    margin-top: 110px;
    margin-left: 0%;
    margin-right: auto;
    font: normal normal bold 16px/19px "Roboto";
    letter-spacing: 0px;
    color: #227093;
    opacity: 1;
}
.form-adminmodule-module {
    margin-bottom: 10px;
    margin-top: 11px;
    margin-left: 0%;
    margin-right: auto;
    font: normal normal bold 16px/19px "Roboto";
    letter-spacing: 0px;
    color: #227093;
    opacity: 1;
}

.icon_svg-table {
    width: 25px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.form-adminmodule-input {
    margin-top: 0px;
    width: 25%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #727981;
    border-radius: 5px;
    opacity: 1;
}
.adminmodule-form {
    width: 60%;
    padding-left: 30%;
}
.form-adminmodule-buttons {
    margin-top: 150px;
    margin-bottom: 95px;
}

.form-adminmodule-buttons .button-container a {
    text-decoration: none;
    color: #979797;
}

.form-adminmodule-buttons .button-container {
    width: 50%;
}

.button-cancelar {
    text-align: right;
    padding-right: 5%;
}

.adminmodule-form-select {
    margin-top: 0px;
    width: 80%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
}

.button-guardar {
    padding-left: 4%;
}

.form-industry-buttons {
    margin-top: 150px;
    margin-bottom: 100px;
}

.list-button-industry .uk-button-small {
    padding: 5px 0px 15px 25px;
    line-height: 28px;
    font-size: 0.875rem;
}

.btn-warn-dt {
    background: #f4991a 0% 0% no-repeat padding-box;
    box-shadow: 1px 2px 5px #f4991a80;
    border-radius: 5px;
    opacity: 1;
    font-size: 10px;
    padding: 5px;
}
