@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.industry-div {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: 1px solid #f4991a;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #33313b4d;
    opacity: 1;
    margin: 30px 50px 0px 50px;
    height: 440px;
}
.industry-list-div{
    background: #e1e1e1 0% 0% no-repeat padding-box;

    opacity: 1;
    margin: 30px 50px 0px 50px;
    height: 440px;
}

.form-industry-label {
    margin-bottom: 10px;
    margin-top: 110px;
    margin-left: 38%;
    margin-right: auto;
    font: normal normal bold 16px/19px 'Roboto';
    letter-spacing: 0px;
    color: #33313b;
    opacity: 1;
}
.form-industry-input {
    margin-top: 0px;
    width: 25%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #727981;
    border-radius: 5px;
    opacity: 1;
}

.form-industry-buttons{
    margin-top: 150px;
    margin-bottom: 95px;
}


.form-industry-buttons .button-container a{
    text-decoration: none;
    color: #979797
}

.form-industry-buttons .button-container{
    width: 50%;

    
}

.button-cancelar{
    text-align: right;
    padding-right: 5%;
}


.button-guardar{
    padding-left: 4%;
}

.form-industry-buttons{
    margin-top: 150px;
    margin-bottom: 100px;
}

.list-button-industry .uk-button-small {
    padding: 5px 0px 15px 25px;
    line-height: 28px;
    font-size: .875rem;
}
