.annualgoals-form {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
    padding: 0% 10% 0% 10%;
}
.annualgoals-form2{
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
    padding: 5% 10% 0% 10%;
}
.meta-annual-button {
    padding-left: 50px;
}
.annualgoals-div {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: 1px solid #f4991a;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #33313b4d;
    opacity: 1;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: 0px 50px 0px 50px; */
}
.annual-goals-div-dereha {
    padding: 5% 3% 5% 5%;
}
.annual-goals-div-izquierda {
    padding: 5% 3% 5% 5%;
}
.uk-card-primary {
    background: #227093 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.annualgoal-form-input {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annualgoal-form-input1 {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annualgoals-form .uk-input:disabled {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annual-goals-divcol .uk-card-primary {
    width: 100%;
    text-align: center;
}
.annual-goal-buscar {
    /* margin-left: 80%; */
}
.meta-progressbar {
    width: 30%;
    align-self: center;
    margin-left: 35%;
}
/* .annualgoal-step2-field{
    text-align: left;
} */

@media screen and (max-width: 768px) {
    .annual-goals-divcol {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .annual-goals-divcol {
        width: 50%;
        display: inline-grid;
    }
}

@media screen and (max-width: 768px) {
    .annual-goals-divcol2 {
        width: 100%;
        display: inline-grid;
    }
}
.annual-form2-button .uk-button-small {
    padding: 5px 0px 0px 50px;
    line-height: 28px;
    font-size: .875rem;
}
.annual-form-button .uk-button-small {
    padding: 5px 0px 0px 50px;
    line-height: 28px;
    font-size: .875rem;
}

.list-button-annual .uk-button-small {
    padding: 5px 0px 15px 50px;
    line-height: 28px;
    font-size: .875rem;
}

.anual_info_general{
padding-top: 5px;
}
.anual_metasportrimestre{
    padding-top: 5px;
}

.anual_f2text{
    top: 369px;
    left: 754px;
    height: 30px;
    text-align: left;
    font: normal normal normal 20px/20px "Roboto";
    letter-spacing: 0px;
    color: #ffffff !important;
    text-transform: uppercase;
    opacity: 1;
    padding: 5px 0px 5px 0px;
}