.reporte-semanal-cards {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #f4991a;
    border-radius: 10px;
    opacity: 1;
    margin: 10px;
}

.reporte-semanal-div {
    background-color: #e1e1e1;
}

.reporte-semanal-card1-3 {
    height: 50%;
}
.reporte-semanal-card2 {
    height: 80%;
}
.reporte-semanal-card4 {
    height: 20%;
}
.reporte-semanal-divprincipal {
    margin-top: 10px;
}
.reportesem-div-gridlead {
    margin-top: 50px;

}

.reportesemanal-button-filter{
    width: 5px;
    font-size: small;
    height: 50px;
}
.reportesemanal-comentario{
    margin-left: 30px;
}
.reporte-semanal-quill{
    background-color: #FFFFFF;
    
}
.report-quill-div .uk-grid{
    padding-left: 0px; 
}


.reportesemanal-button-filter {
    background: #227093 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 2px 5px #4592af80 !important;
    border-radius: 5px;
    color: #ffffff;
    opacity: 1;
    font: normal normal bold  "Roboto";
    width: 250px;
    height: 37px;
    text-align: center;
    margin-left: 50px;
    
}
.div-button-filter{
    width: 50%;

}
.button-filter-lead{
    width: 50px;
}








.reportesem-div-gridlead .uk-grid {
    margin-left: 0px; 
}
.reporte-semanal-divprincipal .uk-grid {
    margin-left: 0px;
}
.reporte-semanal-divprincipal .progress-bar-alcanzadoanual {
    margin: 0px;
}

@media screen and (max-width: 845px) {
    .reporte-semanal-divprincipal .uk-child-width-1-2\@s > * {
        width: 100%;
    }
    .reportesem-div-gridlead .uk-child-width-1-2\@s > * {
        width: 100%;
    }
}
