.budget-div1 {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: 1px solid #f4991a;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #33313b4d;
    opacity: 1;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: 0px 50px 0px 50px; */
    height: 100%;
}

.budget-form {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    margin-top: 2%;
    padding: 0px;
    padding: 10px;
}

.budget-form-input {
    margin-top: 0px;
    width: 80%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
}

.budget-form-select {
    margin-top: 0px;
    width: 80%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
}
.budget-form-input-divs {
    margin-bottom: 20px;
}

.budget-cards .uk-grid {
    margin: 0px;
}
.budget-cards {
    margin: 5px;
    padding: 10px;
}
.budget-form-input-div {
    margin-top: 0px;
    width: 40%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    height: 60px;
    opacity: 1;
    margin: 5px 20px 0px 20px;
}
.budget-button-div {
    padding: 50px;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    .budget-div .div-cards {
        width: 100%;
        display: block;
    }
    .budget-form .div-cards {
        width: 100%;
        display: block;
    }
    .budget-cards {
        width: 100%;
    }
}

.list-button-budget .uk-button-small {
    padding: 5px 0px 15px 9px;
    line-height: 28px;
    font-size: 0.875rem;
}

.rc-tabs-nav-wrap {
    background-color: transparent !important;
}

.rc-tabs-top .rc-tabs-tab {
    border-radius: 6px;
}

.rc-tabs-top .rc-tabs-ink-bar {
    height: 0 !important;
}

/* Add styles */
.btn-warn-dt {
    background: #f4991a 0% 0% no-repeat padding-box;
    box-shadow: 1px 2px 5px #f4991a80;
    border-radius: 5px;
    opacity: 1;
    font-size: 10px;
    padding: 5px;
}

.icon_svg {
    width: 25px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
