.annualgoals-form {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
    padding: 0% 10% 0% 10%;
}

.leadlist-div {
    background: #e1e1e1 0% 0% no-repeat padding-box;
    /* border: 1px solid #f4991a;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #33313b4d;
    opacity: 1; */
    /* margin-left: 50px;
    margin-right: 50px; */
    margin: 80px 50px 0px 50px;
}
.leadlist-div .uk-grid{
    margin-top: 10px;
}
.annual-goals-div-dereha {
    padding: 5% 3% 5% 5%;
}
.annual-goals-div-izquierda {
    padding: 5% 3% 5% 5%;
}
.uk-card-primary {
    background: #227093 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.annualgoal-form-input {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annualgoal-form-input1 {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annualgoals-form .uk-input:disabled {
    margin-top: 0px;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #727981;
    border-radius: 5px;
    opacity: 1;
    place-content: center;
}
.annual-goals-divcol .uk-card-primary {
    width: 100%;
    text-align: center;
}
.lead-filters{
    width: 100%;
}
.annual-goal-buscar{
    /* margin-left: 80%; */
}
.lead-table{
    margin-top: 50px;
}
.reporte-leads-cards {
    background: #ffffff ;
    border: 1px solid #f4991a;
    border-radius: 10px;
    opacity: 1;
    height: 80px;
    margin: 5px;
    width: 16%;
}
.reporte-leads-cards2{
    background: #ffffff ;
    border: 1px solid #227093;
    border-radius: 10px;
    opacity: 1;
    height: 80px;
    margin: 5px;
    width: 16%;
}
.reporte-semanal-divprincipal  .progress-bar-alcanzadoanual{
    width: 90%;
    margin: 15px 0px 0px 40px;
}

@media screen and (max-width: 768px) {
    .annual-goals-divcol {
        width: 100%;
        display: block;
    }
    .reporte-leads-cards{
        display: block;
        width: 100%;
    }
    .reporte-leads-cards2{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .annual-goals-divcol {
        width: 50%;
        display: inline-grid;
    }

}
.select-lead .uk-padding{
    margin: 0px;
    padding: 0px;
}